<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <script src="../static/script/homepage.js"></script>

    <title>Homepage</title>
</head>
<body>

    <div>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" id="logo">
        <h1 id="Titel">AstroSphere</h1>
        <div id="bar"></div>
    </div>


    <button onclick="goToTerminal()" id="terminalButton" class="buttons">Gehe zum Terminal</button>
    <button onclick="goToIntern()" id="loginButton" class="buttons">Gehe zu Intern</button>
    
    <script>
        function goToTerminal() {
            window.location.href = "{{ url_for('terminal') }}";
        }

        function goToIntern() {
            window.location.href = "{{ url_for('intern') }}";
        }
    </script>
</body>
</html>
