<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/homepage.css">
    <script src="../static/script/homepage.js"></script>

    <title>Homepage</title>
</head>
<body>

    <div id="topBar">
        <div>
            <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" id="logo">
            <h1 id="Titel">AstroSphere</h1>
            <div id="bar"></div>
        </div>

        
        <button onclick="goToTerminal()" id="terminalButton" class="buttons">Gehe zum Terminal</button>
        <button onclick="showLogInPage()" id="loginButton" class="buttons">Gehe zu Intern</button>
    </div>


    <div id="loginpage">
        <form id="loginForm" onsubmit="login(event)">
            <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="80">
            <h3 id="errorLogin" class="error-message">Falscher Nutzername oder falsches Passwort</h3>
            <h2 class="form-title">Anmelden</h2>
            <label for="username">Nutzername:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Passwort:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit" class="btn btn-primary">Anmelden</button>
            <button type="button" class="btn btn-cancel" onclick="hideLogInPage()">Abbrechen</button>
        </form>
    </div>

    <div id="navigateButtons">
        <div id="seperateLine"></div>
        <button class="nav-button" style="background: linear-gradient(to bottom, var(--pink), var(--purple));" onclick="goToStart()">Startseite</button>
        <button class="nav-button" style="background: linear-gradient(to bottom, var(--pink), var(--purple));" onclick="goToTerminal()">Terminal</button>
        <button class="nav-button" style="background: linear-gradient(to bottom, var(--pink), var(--purple));" onclick="showLogInPage()">Intern</button>
        <button class="nav-button" style="background: linear-gradient(to bottom, var(--pink), var(--purple));" onclick="goToAboutUs()">About Us</button>
        <button class="nav-button" style="background: linear-gradient(to bottom, var(--pink), var(--purple));" onclick="goToImpressum()">Impressum</button>
    </div>



    <div id="aboutUs">
        <h1>About Us</h1>
        <p>
            Unsere Datenbank bildet die Unternehmenswirklichkeit des Planetariums AstroSphere ab. 
            Dieses Planetarium veranstaltet nicht nur Präsentationen, in denen die Planeten unseres 
            oder auch anderer bekannter Planetensysteme beleuchtet, gezeigt und erklärt werden.
        </p>
        <p>
            Der Gewinn unseres Unternehmens setzt sich aus mehreren Bestandteilen zusammen:
        </p>
        <ul>
            <li>Merchandise</li>
            <li>Snack- und Getränkverkauf</li>
            <li>Ticketverkäufe</li>
        </ul>
        <p>
            Je nach Bedarf kann zwischen einem Tages-, einem Monats- und einem Jahresticket gewählt werden. 
            Unser Planetarium sorgt neben der Unterhaltung ebenfalls für die passende Verpflegung vor, während 
            oder nach unseren Vorstellungen.
        </p>
        <p>
            Unsere Angebote umfassen Snacks und Getränke. Außerdem pflegt AstroSphere einen sehr beliebten Shop, 
            in dem wir unser Merchandise anbieten. So haben wir ein eigenes kleines Planetensystem errichtet, in dem 
            alle Bedürfnisse unserer Kunden bedient werden.
        </p>
        <p>
            Zu den aktiven Einnahmequellen durch unsere Verkäufe kommen dann noch Einnahmen durch die Vermietung 
            unserer Räume oder unserer Teleskope.
        </p>
        <p>
            Durch unser breit gefächertes Angebot beschäftigen wir eigene Angestellte, von wissenschaftlichen 
            Mitarbeitern, die als Tourführer und Veranstalter fungieren, bis zu Designern für unseren Merch und 
            Verkäufern in den Shops unseres Planetariums.
        </p>
    </div>

    <div id="startpage">
        <h1>Willkommen bei AstroSphere</h1>
        <p>Erleben Sie das Universum hautnah im Planetarium AstroSphere. <br>Tauchen Sie ein in die faszinierende Welt der Sterne, Planeten und Galaxien.</p>
        <p>Entdecken Sie unsere vielfältigen Veranstaltungen und Präsentationen über beeindruckende<br>Sternenhimmel-Vorführungen bis hin zu speziellen Events für die ganze Familie.</p>
        <h3>Wir freuen uns darauf, Sie bei AstroSphere willkommen zu heißen!</h3>
    </div>
    



    <div id="impressum">
        <h1>Impressum</h1>
        <div class="student" style="background-color: #e0f8f6;">
            <img src="../static/images/profile.jpg" alt="Profilbild 1">
            <h2>Alexander Nungesser</h2>
            <p>Matrikelnummer: 50036134</p>
            <p>E-Mail: alexander.nungesser@hsbi.de</p>
        </div>
        <div class="student">
            <img src="../static/images/profile.jpg" alt="Profilbild 2">
            <h2>Fabian Henßler</h2>
            <p>Matrikelnummer: 50032318</p>
            <p>E-Mail: fabian.henssler@hsbi.de</p>
        </div>
        <div class="student">
            <img src="../static/images/profile.jpg" alt="Profilbild 3">
            <h2>Hannes Olschok</h2>
            <p>Matrikelnummer: 50032404</p>
            <p>E-Mail: hannes.olschok@hsbi.de</p>
        </div>
        <div class="student">
            <img src="../static/images/profile.jpg" alt="Profilbild 4">
            <h2>Marie Jünke</h2>
            <p>Matrikelnummer: 50036035</p>
            <p>E-Mail: marie.juenke@hsbi.de</p>
        </div>
        <div class="student">
            <img src="../static/images/profile.jpg" alt="Profilbild 5">
            <h2>Marius Rösner</h2>
            <p>Matrikelnummer: 50032529</p>
            <p>E-Mail: marius.roesner@hsbi.de</p>
        </div>
        <div class="student">
            <img src="../static/images/profile.jpg" alt="Profilbild 6">
            <h2>Max Steidle</h2>
            <p>Matrikelnummer: 50044670</p>
            <p>E-Mail: max.steidle@hsbi.de</p>
        </div>
        <div class="institution">
            <h2>Kontakt</h2>
            <p>Hochschule: Hochschule Bielefeld HSBI</p>
            <p>Adresse: Interaktion 1, 33619 Bielefeld</p>
            <p>Telefon: +49 521 10601</p>
        </div>

    </div>
    



</body>
</html>
