<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/intern.css">
    <script src="../static/script/intern.js"></script>
    <title>Intern Events</title>
</head>
<body>

    <header>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" id="logo">
        <h1 id="Titel">AstroSphere</h1>
        <button id= "Homepage_btn" onclick="goBackHome()">Zurück zur Homepage</button>
    </header>

    <div class= "main">
        <div class= "leftComponent disabled" id="nav-create-event">
            <h2>Neue Veranstaltung anlegen</h2>
            <h3>Dein Vortrag</h3>
            <a class="active" id="nav-thema" href="#" onclick="filter('nav-thema', 'topic')" >Thema</a>
            <a class="disabled" href="#" id="nav-media" onclick="filter('nav-media', 'media')">Medien</a>
            <h3>Dein Termin</h3>
            <a class="disabled" href="#" id="nav-date" onclick="filter('nav-date', 'date')">Datum & Uhrzeit</a>
            <a class="disabled" href="#" id="nav-room" onclick="filter('nav-room', 'room')">Raum</a>
            <button class="save-btn" id="cancel" onclick="filter('nav-all', 'events-container'), changeLeftComponent()">Abbrechen</button>
        </div>

        <div class= "leftComponent" id="nav-events">
            <h2>Anstehende Veranstaltungen</h2>
            <a class="active" id="nav-all" href="#" onclick="filter('nav-all', 'events-container'), generateEventTable(true)" >Alle Veranstaltungen</a>
            <a href="#" id="nav-mine" onclick="filter('nav-mine', 'events-container'), generateEventTable(false)">Deine Veranstaltungen</a>
            <a href="#" id="nav-create" onclick="filter('nav-thema', 'topic'), changeLeftComponent()">Veranstaltung erstellen</a>
        </div>

        <div class= "rightComponent">
            <nav class="navigationBar">
                <a href="#" class="active" onclick="goToEvents()">Veranstaltungen</a>
                <a href="#" onclick="goToRooms()" >Räume</a>
                <a href="#" onclick="goToPlanets()" >Planeten</a>
                <a href="#" onclick="goToTelescopes()" >Teleskope</a>
            </nav>

            <div id="events-container" class="mainContent active" style="overflow-y: scroll;">
                <div style="display: flex; justify-content: center; margin-top: 30px">
                    <table width="90%" id="event-table">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Datum</th>
                            <th>Raum</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="event-details" class="mainContent" style="overflow-y: scroll; width: 100%; height:100%">
                
            </div>
            <div id="topic" class="mainContent">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="description">Beschreibung</label>
                    <textarea id="description" name="description" placeholder="In dieser Veranstaltung geht es um..."></textarea>
                </div>
                <button class="save-btn" id="continue-thema" onclick="filter('nav-media', 'media')" disabled>Weiter</button>
            </div>
            <div id="media" class="mainContent">
                <div class="mediaHeader">
                    <div>
                        <h2>Medien</h2>
                        <p>Wähle die Medien aus, die du für deinen Vortrag benötigst</p>
                    </div>
                    <button class="save-btn" id="save-media" disabled>Speichern</button>
                </div>
                <div id="mediaGrid" class="media-grid">
                    
                </div>
            </div>
            <div id="date" class="mainContent">
                <div id="dateInput"> 
                    <label for="eventTime">Wann soll die Veranstaltung stattfinden:</label>
                    <input type="datetime-local" id="eventTime">
                    <button class="save-btn" id="date-btn" disabled>Absenden</button>
                </div>
            </div>
            <div id="room" class="mainContent">
                <div class="mediaHeader">
                    <div>
                        <h2>Räume</h2>
                        <p>Wähle einen der Verfügbaren Räume aus:</p>
                    </div>
                    <button class="save-btn" id="save_rooms" onclick="filter('nav-all', 'events-container'), changeLeftComponent()">Speichern</button>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px">
                    <table width="90%" id="roomTable">
                        <tr>
                            <th class="roomName">Bezeichnung</th>
                            <th>Id</th>
                            <th>Kapazität</th>
                            <th>Status</th>
                            <th>Auswahl</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>