<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/intern.css">
    <script src="../static/script/intern.js"></script>
    <title>Intern Telescopes</title>
</head>
<body>

    <header>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" id="logo">
        <h1 id="Titel">AstroSphere</h1>
        <button id= "Homepage_btn" onclick="goBackHome()">Zurück zur Homepage</button>
    </header>

    <div class= "main">
        <div class= "leftComponent" id="nav-telescopes">
            <h2>Teleskope buchen</h2>
        </div>

        <div class= "rightComponent">
            <nav class="navigationBar">
                <a href="#" onclick="goToEvents()">Veranstaltungen</a>
                <a href="#" onclick="goToRooms()">Räume</a>
                <a href="#" onclick="goToPlanets()">Planeten</a>
                <a href="#" class="active" onclick="goToTelescopes()">Teleskope</a>
            </nav>

            <div id="telescopes" class="mainContent active">
                <h2>Teleskope</h2>
                <div style="display: flex; padding: 5px; justify-content: space-around">
                    <form>
                    <label style="font-size: 10px">Suche Teleskope nach Bezeichnung
                        <br/>
                        <input type="text" id="searchTelescopeByNameInput" name="searchTelescopeByNameInput"></input>
                    </label>
                        <button type="button" onclick="searchTelescopeByName()">Suchen</button>
                    </form>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px; overflow-y: scroll; height: 400px;">
                <table width="90%" id="telescopesTable">
                    <tr>
                        <th class="roomName">Name</th>
                        <th>Id</th>
                        <th>Typ</th>
                    </tr>
                </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>