<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/intern.css">
    <script src="../static/script/intern.js"></script>
    <title>Intern Planets</title>
</head>
<body>

    <header>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" id="logo">
        <h1 id="Titel">AstroSphere</h1>
        <button id= "Homepage_btn" onclick="goBackHome()">Zurück zur Homepage</button>
    </header>

    <div class= "main">
        <div class= "leftComponent" id="nav-planets">
            <h2>Planeten Daten</h2>
            <ul class="menu">
                <li>
                    <a href="#" onclick="toggleMenu('planetensystemeSubmenu', this, 'kometenSubmenu'), filter(event, 'planetensysteme'), getPlanetsystems()">Planetensysteme</a>
                    <ul id="planetensystemeSubmenu" class="submenu hidden">
                        <li><a href="#" onclick="filter(event, 'planeten'), getPlanets()">Planeten</a></li>
                        <li><a href="#"onclick="filter(event, 'sternenbilder'), getStarimages()">Sternenbilder</a></li>
                        <li><a href="#"onclick="filter(event, 'sterne'), getStars()">Sterne</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="filter(event, 'kometen'), getComets()">Kometen</a></li>
            </ul>
        </div>

        <div class= "rightComponent">
            <nav class="navigationBar">
                <a href="#" onclick="goToEvents()">Veranstaltungen</a>
                <a href="#" onclick="goToRooms()">Räume</a>
                <a href="#" class="active" onclick="goToPlanets()">Planeten</a>
                <a href="#" onclick="goToTelescopes()">Teleskope</a>
            </nav>
            <div id="planetensysteme" class="mainContent active">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" class="button round" onclick="openModal('addObject', 'Planetensystem', 'Planetensystem')">Planetensystem hinzufügen</button>
                    <input type="text" id="searchPlanetensystemBezeichnungInput" name="searchPlanetensystemBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="searchPlanetensystemByBezeichnung()">Planetensystem suchen</button>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px; overflow-y: scroll;">
                    <table width="90%" id="planetsystemTable">
                        <tr>
                            <th>ID</th>
                            <th>Bezeichnung</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="planeten" class="mainContent">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" class="button round" onclick="openModal('addObject', 'Planet', 'Planet')">Planet hinzufügen</button>
                    <input type="text" id="searchPlanetBezeichnungInput" name="searchPlanetBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="searchPlanetByBezeichnung()">Planet suchen</button>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px; overflow-y: scroll;">
                    <table width="90%" id="planetTable">
                        <tr>
                            <th>ID</th>
                            <th>Bezeichnung</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="sternenbilder" class="mainContent">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" class="button round" onclick="openModal('addObject', 'Sternenbild', 'Sternenbild')">Sternenbild hinzufügen</button>
                    <input type="text" id="searchSternenbildBezeichnungInput" name="searchSternenbildBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="searchSternenbildByBezeichnung()">Sternenbild suchen</button>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px; overflow-y: scroll;">
                    <table width="90%" id="starimageTable">
                        <tr>
                            <th>ID</th>
                            <th>Bezeichnung</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="sterne" class="mainContent">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" class="button round" onclick="openModal('addObject', 'Stern', 'Stern')">Stern hinzufügen</button>
                    <input type="text" id="searchSternBezeichnungInput" name="searchSternBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="searchSternByBezeichnung()">Stern suchen</button>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px; overflow-y: scroll;">
                    <table width="90%" id="starTable">
                        <tr>
                            <th>ID</th>
                            <th>Bezeichnung</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="kometen" class="mainContent">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" class="button round" onclick="openModal('addObject', 'Komet', 'Komet')">Komet hinzufügen</button>
                    <input type="text" id="searchKometBezeichnungInput" name="searchKometBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="searchKometByBezeichnung()">Komet suchen</button>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px; overflow-y: scroll;">
                    <table width="90%" id="cometTable">
                        <tr>
                            <th>ID</th>
                            <th>Bezeichnung</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="addObject" class="modal">
        <div class="modal-content">
            <button type="button" class="button round" onclick="closeModal('addObject')">x</button>
            <h2>Object hinzufügen</h2>
            <form id="editForm1"></form>
        </div>
    </div>
    <div id="editObject" class="modal">
        <div class="modal-content">
            <button type="button" class="button round" onclick="closeModal('editObject')">x</button>
            <h2>Object Bearbeiten</h2>
            <form id="editForm2"></form>
        </div>
    </div>
</body>
</html>
