<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/intern.css">
    <script src="../static/script/intern.js"></script>
    <title>Intern Events</title>
</head>
<body>

    <header>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" id="logo">
        <h1 id="Titel">AstroSphere</h1>
        <button id= "Homepage_btn" onclick="goBackHome()">Zurück zur Homepage</button>
    </header>

    <div class= "main">
        <div class= "leftComponent">
            <h2>Neue Veranstaltung anlegen</h2>
            <h3>Deine Vortrag</h3>
            <a class="active" id="nav-thema" href="#" onclick="filter('nav-thema', 'topic')" >Thema</a>
            <a class="disabled" href="#" id="nav-media" onclick="filter('nav-media', 'media')">Medien</a>
            <h3>Dein Termin</h3>
            <a class="disabled" href="#" id="nav-date" onclick="filter('nav-date', 'date')">Datum & Uhrzeit</a>
            <a class="disabled" href="#" id="nav-room" onclick="filter('nav-room', 'room')">Raum</a>
        </div>

        <div class= "rightComponent">
            <nav class="navigationBar">
                <a href="#" class="active" onclick="goToEvents()">Veranstaltungen</a>
                <a href="#" onclick="goToRooms()" >Räume</a>
                <a href="#" onclick="goToPlanets()" >Planeten</a>
                <a href="#" onclick="goToTelescopes()" >Teleskope</a>
            </nav>

            <div id="topic" class="mainContent active">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="description">Beschreibung</label>
                    <textarea id="description" name="description" placeholder="In dieser Veranstaltung geht es um..."></textarea>
                </div>
                <button class="save-btn" id="continue-thema" onclick="filter('nav-media', 'media')" disabled>Weiter</button>
            </div>
            <div id="media" class="mainContent">
                <div class="mediaHeader">
                    <div>
                        <h2>Medien</h2>
                        <p>Wähle die Medien aus, die du für deinen Vortrag benötigst</p>
                    </div>
                    <button class="save-btn" id="save-media">Speichern</button>
                </div>
                <div id="mediaGrid" class="media-grid">
                    
                </div>
            </div>
            <div id="date" class="mainContent">
                <div id="dateInput"> 
                    <label for="eventTime">Wann soll die Veranstaltung stattfinden:</label>
                    <input type="datetime-local" id="eventTime">
                    <button class="save-btn" id="date-btn" disabled>Absenden</button>
                </div>
            </div>
            <div id="room" class="mainContent">
                <div class="mediaHeader">
                    <div>
                        <h2>Räume</h2>
                        <p>Wähle einen der Verfügbaren Räume aus:</p>
                    </div>
                    <button class="save-btn" id="save_rooms" onclick="searchForFreeRooms()">Speichern</button>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px">
                    <table width="90%" id="roomTable">
                        <tr>
                            <th class="roomName">Bezeichnung</th>
                            <th>Id</th>
                            <th>Kapazität</th>
                            <th>Status</th>
                            <th>Auswahl</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>