<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/intern.css">
    <script src="../static/script/intern.js"></script>
    <title>Intern Planets</title>
</head>
<body>

    <header>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" id="logo">
        <h1 id="Titel">AstroSphere</h1>
        <button id= "Homepage_btn" onclick="goBackHome()">Zurück zur Homepage</button>
    </header>

    <div class= "main">
        <div class= "leftComponent">
            <h2>Planeten Daten</h2>
            <ul class="menu">
                <li>
                    <a href="#" onclick="toggleMenu('planetensystemeSubmenu', this, 'kometenSubmenu'), filter(event, 'planetensysteme')">Planetensysteme</a>
                    <ul id="planetensystemeSubmenu" class="submenu hidden">
                        <li><a href="#" onclick="filter(event, 'planeten'), getPlanets()">Planeten</a></li>
                        <li><a href="#"onclick="filter(event, 'sternenbilder')">Sternenbilder</a></li>
                        <li><a href="#"onclick="filter(event, 'sterne')">Sterne</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="filter(event, 'kometen')">Kometen</a></li>
            </ul>
        </div>

        <div class= "rightComponent">
            <nav class="navigationBar">
                <a href="#" onclick="goToEvents()">Veranstaltungen</a>
                <a href="#" onclick="goToRooms()">Räume</a>
                <a href="#" class="active" onclick="goToPlanets()">Planeten</a>
                <a href="#" onclick="goToTelescopes()">Teleskope</a>
            </nav>
            <div id="planetensysteme" class="mainContent active">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" onclick="">Planetensystem hinzufügen</button>
                    <input type="text" id="searchPlanetensystemBezeichnungInput" name="searchPlanetensystemBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="">Planetensystem suchen</button>
                    
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px">
                    <table width="90%" id="planetensystemTable">
                        <tr>
                            <th class="roomName">Bezeichnung</th>
                            <th>Name</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="planeten" class="mainContent">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" onclick="">Planet hinzufügen</button>
                    <input type="text" id="searchPlanetBezeichnungInput" name="searchPlanetBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="">Planet suchen</button>
                    
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px">
                    <table width="90%" id="planetTable">
                        <tr>
                            <th class="roomName">Bezeichnung</th>
                            <th>Name</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="sternenbilder" class="mainContent">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" onclick="">Sternenbild hinzufügen</button>
                    <input type="text" id="searchSternenbildBezeichnungInput" name="searchSternenbildBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="">Sternenbild suchen</button>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px">
                    <table width="90%" id="starTable">
                        <tr>
                            <th class="roomName">Bezeichnung</th>
                            <th>Name</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="sterne" class="mainContent">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" onclick="">Stern hinzufügen</button>
                    <input type="text" id="searchSternBezeichnungInput" name="searchSternBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="">Stern suchen</button>
                    
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px">
                    <table width="90%" id="sternTable">
                        <tr>
                            <th class="roomName">Bezeichnung</th>
                            <th>Name</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="kometen" class="mainContent">
                <div style="display: flex; justify-content: left; margin-left: 30px; margin-top: 30px">
                    <button type="button" onclick="">Komet hinzufügen</button>
                    <input type="text" id="searchKometBezeichnungInput" name="searchKometBezeichnungInput" style="margin-left: 30px;" placeholder="Bezeichnung..."></input>
                    <button type="button" onclick="">Komet suchen</button>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px">
                    <table width="90%" id="cometTable">
                        <tr>
                            <th class="roomName">Bezeichnung</th>
                            <th>Name</th>
                            <th>Informationen</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            
            <!-- <div id="raeume" class="mainContent active">
                <h2>Planeten</h2>
                <p>Informationen zu den Planeten...</p>
            </div> -->
        </div>
    </div>
</body>
</html>
