<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/intern.css">
    <script src="../static/script/intern.js"></script>
    <title>Intern</title>
</head>
<body>

    <div id= "Topbar">
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" id="logo">
        <h1 id="Titel">AstroSphere</h1>
        <button id= "Homepage_btn" onclick="goBackHome()">Zurück zur Homepage</button>
    </div>

    <div id= "MainContent">
        <div id= "MainLeftContent">
            <h2>Test</h2>
        </div>

        <div id= "MainRightContent">
            <div id= "NavBar">
                <button id="Veranstaltungen_btn" class="Nav_Btn active" onclick="activateButton(this)">Veranstaltungen</button>
                <button id="Teleskope_btn" class="Nav_Btn" onclick="activateButton(this)">Teleskope</button>
                <button id="Raeume_btn" class="Nav_Btn" onclick="activateButton(this)">Räume</button>
                <button id="Planeten_btn" class="Nav_Btn" onclick="activateButton(this)">Planeten</button>
            </div>
        </div>
    </div>
</body>
</html>
