<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/intern.css">
    <script src="../static/script/intern.js"></script>
    <title>Intern Rooms</title>
</head>
<body>

    <header>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" id="logo">
        <h1 id="Titel">AstroSphere</h1>
        <button id= "Homepage_btn" onclick="goBackHome()">Zurück zur Homepage</button>
    </header>

    <div class= "main">
        <div class= "leftComponent">
            <h2>Raum Buchen</h2>
        </div>

        <div class= "rightComponent">
            <nav class="navigationBar">
                <a href="#" onclick="goToEvents()">Veranstaltungen</a>
                <a href="#" class="active" onclick="goToRooms()">Räume</a>
                <a href="#" onclick="goToPlanets()">Planeten</a>
                <a href="#" onclick="goToTelescopes()">Teleskope</a>
            </nav>

            <div id="raeume" class="mainContent active" style="padding: 15px">
                <h2>Räume</h2>
                <div style="display: flex; padding: 5px; justify-content: space-around">
                    <form onsubmit="searchRoomsByBezeichnung()">
                    <label style="font-size: 10px">Suche Räume nach Bezeichnung
                        <br/>
                        <input type="text" id="searchRaumBezeichnungInput" name="searchRaumBezeichnungInput"></input>
                    </label>
                        <button onclick="getRooms()" >Suchen</button>
                    </form>
                    <form onsubmit="" >
                        <label style="font-size: 10px">Suche Räume nach Kapazität
                            <br/>
                            <input type="number" min="0"></input>
                        </label>
                        <button onclick="onsubmit()">Suchen</button>
                    </form>
                </div>
                <div style="display: flex; justify-content: center; margin-top: 30px">
                <table width="90%" id="roomTable">
                    <tr>
                        <th class="roomName">Bezeichnung</th>
                        <th>Id</th>
                        <th>Kapazität</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <th>test</th>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>