<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/AstroSphere_Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/shop.css">
    <script src="../static/script/shop.js"></script>
    <title>Shop</title>
</head>

<body>
    <header>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" width="100">
    </header>

    <div>
        <button type="button" onclick="goBack()">Back</button>
    </div>

    <main>
        <div class="filter">
            <button class="collapsible" type="button" onclick="collapseFilter('snack_filter')">
                <h4>Snacks</h4>
            </button>

            <div id="snack_filter" class="filter_content">
                <button type="button" onclick="getSnacks()">Show All</button>
                <button type="button" onclick="getSnacks()">Drinks</button>
                <button type="button" onclick="getSnacks()">Sweet</button>
                <button type="button" onclick="getSnacks()">Salty</button>
            </div>

            <button class="collapsible" type="button" onclick="collapseFilter('merch_filter')">
                <h4>Merch</h4>
            </button>

            <div id="merch_filter" class="filter_content">
                <button type="button" onclick="getMerch()">Show All</button>
                <button type="button" onclick="getMerch()">Hoodies</button>
                <button type="button" onclick="getMerch()">T-Shirts</button>
                <button type="button" onclick="getMerch()">Other</button>
            </div>

            <button class="collapsible" type="button" onclick="collapseFilter('ticket_filter')">
                <h4>Tickets</h4>
            </button>

        </div>

        <div class="products">
            <!-- <div class="product_card">
                <img class="product_image" src="../static/images/popcorn_bold.svg" alt="Produktbild">
                <label class="product_name" for=""></label>
                <div>
                    <label class="product_price" for="">€</label>
                    <button>Add to Cart</button>
                </div>
            </div> -->
        </div>

        <div id="cart_button">
            <button type="button" onclick="goTo_shoppingCart()">
                <img src="../static/images/cart_bold.svg" alt="Warenkorb" width="30" height="30">
                <span class="cart_badge"></span>
            </button>
        </div>
    </main>








    <div id="shoppingCart">
        <h1>Warenkorb</h1>


        <div id="itemList">
            <!--shopping List items-->
        </div>
        <div id="gesKosten">
            <h3 id="gesKostenNum">00.00€</h3>
        </div>
        <button type="button" id="cancel" onclick="cancel_Order()">Cancel</button>
        <button type="button" id="buy" onclick="buy_Order()">Buy now</button>
    </div>

    <div id="purchaseS" class="purchaseInfo">
        <h1>
            Bestellvorgang wurde erfolgreich abgeschlossen!
        </h1>
    </div>
    <div id="purchaseN" class="purchaseInfo">
        <h1>
            Fehler: Bestellvorgang wurde abgebrochen!
        </h1>
    </div>

    <div id="buyItems">
        <h1 id="bestellNr">Bestell-Nr.: 0000</h1>
        <h2>Ihre Bestellung:</h2>
        <div id="listboughtItems">
                
                <div id='boughtItemPrice'>
                <p>gesamt Preis: 59.94€</p>
            </div>
        </div>
    </div>

    <footer>
        <h6>AstroSphere © 2024</h6>
    </footer>
</body>

</html>