<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/AstroSphere_Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/shop.css">
    <script src="../static/script/shop.js"></script>
    <title>Shop</title>
</head>

<body>
    <header>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" width="100">
    </header>

    <div>
        <button onclick="goBack()">Back</button>
    </div>
    <main>
        <div class="filter">
            <ul>
                <li>Snacks
                    <ul>
                        <li>Alles Anzeigen</li>
                        <li>Getränke</li>
                        <li>Süß</li>
                        <li>Salzig</li>
                    </ul>
                </li>
                <li>Merch
                    <ul>
                        <li>Alles Anzeigen</li>
                        <li>Hoodies</li>
                        <li>T-Shirts</li>
                        <li>Sonstiges</li>
                    </ul>
                </li>
                <li>Tickets</li>
            </ul>
        </div>

        <div class="products">
            <div class="product_card">
                <img class="product_image" src="../static/images/popcorn_bold.svg" alt="Produktbild">
                <label class="product_name" for=""></label>
                <div>
                    <label class="product_price" for="">€</label>
                    <button>Add to Cart</button>
                </div>
            </div>
        </div>

    </main>


    <div id="cart_button">
        <button onclick="goTo_shoppingCart()">
            <img src="../static/images/cart_bold.svg" alt="Warenkorb" width="25" height="25">
        </button>
    </div>




    <div id="shopping_Cart">
        <div>
            <button id="cancel" onclick="cancel_Order()">Cancel</button>
            <button id="buy" onclick="buy_Order()">Buy now</button>
        </div>
    </div>
</body>

</html>