<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal</title>
</head>
<body>
    <h1>Terminal Seite</h1>
    <button onclick="goBackHome()">Zurück zur Homepage</button>


    <div style="display: flex; align-items: center; justify-content: space-around;">
        <div>
            <img src="../static/placeholderImg.png" alt="Snacks">
            <h5>zum Snackshop</h5>
        </div>
        
        <div>
            <img src="../static/placeholderImg.png" alt="Merch">
            <h5>zum Merchshop</h5>
        </div>
        <div>
            <img src="../static/placeholderImg.png" alt="Tickets">
            <h5>zum Ticketshop</h5>
        </div>
    </div>




    <script>
        function goBackHome() {
            window.location.href = "{{ url_for('back_to_home') }}";
        }
    </script>
</body>
</html>
