<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/terminal.css">
    <script src="../static/script/terminal.js"></script>
    <title>Terminal</title>
</head>

<body>
    <header>
        <img src="../static/images/AstroSphere_Logo.png" alt="AstroSphere Logo" height="100" width="100">
    </header>

    <div>
        <button class="back_button" onclick="goBackHome()">Back</button>
    </div>

    <div class="container">
        <button class="menu_buttons" id="snacks" onclick="goToShop(document.getElementById('snacks'))">
            <img class="menu_icons" src="../static/images/fast-food_thin.svg" alt="Snack-Shop" height="250" width="250">
            <label for="">Snacks</label>
        </button>

        <button class="menu_buttons" id="merch" onclick="goToShop(document.getElementById('merch'))">
            <img class="menu_icons" src="../static/images/t-shirt_thin.svg" alt="Merch-Shop" height="250" width="250">
            <label for="">Merch</label>
        </button>

        <button class="menu_buttons" id="ticket" onclick="goToShop(document.getElementById('ticket'))">
            <img class="menu_icons" src="../static/images/tickets_thin.svg" alt="Ticket-Shop" height="250" width="250">
            <label for="">Tickets</label>
        </button>
    </div>

    <footer>
        <h6>AstroSphere © 2024</h6>
    </footer>
</body>

</html>