:root{
    --pink: #d30da4;
    --purple: #4204b0;
    --darkGrey: #2e2e2e;
    --lightGrey: #5e5e5e;
    --textFont: Arial, Helvetica, sans-serif;
}

html,
body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    flex-direction: column;
}

#Topbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: #dFdFdF;
    border: 1px solid black;
}

#logo {
    margin-left: -11px;
    margin-top: -12px;
    margin-right: auto;
    margin-bottom: auto;
}

#Titel{
    color: transparent;
    background-image: linear-gradient(to right, var(--darkGrey), var(--pink), var(--purple), var(--lightGrey));
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-size: 45px;
}

#Homepage_btn{
    border-radius: 5px;
    background: linear-gradient(to right, var(--pink), var(--purple));
    color: white;
    padding: 10px;
    font-size: 12px;
    margin-left: auto;
    margin-top: auto;
    margin-right: 5px;
    margin-bottom: auto;
}

#MainContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    background-color: white;
}

#MainLeftContent {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
}

#MainRightContent {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

#NavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: white;
}

.Nav_Btn {
    background-color: white;
    font-size: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: white;
    transition: font-weight 0.2s, background-color 0.2s;
}

.Nav_Btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.Nav_Btn.active {
    font-weight: bolder;
}