:root{
    --pink: #d30da4;
    --purple: #4204b0;
    --darkGrey: #2e2e2e;
    --lightGrey: #5e5e5e;
    --textFont: Arial, Helvetica, sans-serif;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    flex-direction: column;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: #dFdFdF;
    border: 1px solid black;
}

#logo {
    margin-left: -11px;
    margin-top: -12px;
    margin-right: auto;
    margin-bottom: auto;
}

#Titel{
    color: transparent;
    background-image: linear-gradient(to right, var(--darkGrey), var(--pink), var(--purple), var(--lightGrey));
    -webkit-background-clip: text;
    background-clip: text;
    margin: auto;
    font-size: 45px;
}

#Homepage_btn{
    border-radius: 5px;
    background: linear-gradient(to right, var(--pink), var(--purple));
    color: white;
    padding: 10px;
    font-size: 12px;
    margin-left: auto;
    margin-top: auto;
    margin-right: 5px;
    margin-bottom: auto;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    background-color: white;
}

/* Filter Components */
.leftComponent {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    border-right: 1px solid black;
}

.leftComponent h2 {
    margin-top: 20%;
    margin-left: 5px;
    color: #333;
    font-size: 22px;
}

.leftComponent h3 {
    margin-left: 5px;
    font-size: 16px;
    color: #333;
}

.leftComponent a {
    margin-left: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #bbb;
    margin-bottom: 10px;
}

.leftComponent a:hover {
    background-color: #ddd;
}

.leftComponent a.active {
    background-color: #ddd;
    color: #000;
    font-weight: bold;
}

/* Navigation Bar + Main Content */
.rightComponent {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
}

/* Bar to switch betweet the main pages */
.navigationBar {
    display: flex;
    margin-top: 5px;
    gap: 20px;
}
.navigationBar a {
    color: #bbb;
    text-decoration: none;
    font-size: 18px;
    margin: auto;
}
.navigationBar a.active {
    color: #000;
}

/* The largest part of the page */
.mainContent {
    width: 100%;
    height: 90%;
    display: none;
}
.mainContent.active {
    display: flex;
    flex-direction: column;
}

/* Main Content Events */
.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

.form-group label {
    display: block;
    margin: auto;
    width: 40%;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 40%;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

.form-group textarea {
    height: 100px;
}

#media {
    margin-left: 7%;
}

.mediaHeader {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
}

.media-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: scroll; /* Vertikales Scrollen aktivieren */
    overflow-x: hidden; /* Horizontales Scrollen deaktivieren */
}

.media-item {
    width: 150px;
    text-align: center;
    color: #333;
}

.media-item.active {
    background-color: #ddd;
}

.media-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.media-item h3 {
    font-size: 16px;
    margin: 10px 0 5px 0;
}

.media-item p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

#speichern {
    border-radius: 5px;
    background: linear-gradient(to right, var(--pink), var(--purple));
    color: white;
    padding: 10px;
    font-size: 12px;
    margin: auto;
}

/* Class for active text elements  */
.active {
    font-weight: bold;
}