:root {
    --astrosphere-pink: #d30da4;
    --astrosphere-blue: #4204b0;
    --astrosphere-dark-grey: #2e2e2e;
    --astrosphere-light-grey: #5e5e5e;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
}

header {
    padding-top: 5px;
}

main {
    display: flex;
    flex-direction: row;
}

button {
    background: linear-gradient(to left, var(--astrosphere-pink), var(--astrosphere-blue));
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
}