:root {
    --astrosphere-pink: #d30da4;
    --astrosphere-blue: #4204b0;
    --astrosphere-dark-grey: #2e2e2e;
    --astrosphere-light-grey: #5e5e5e;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    margin: 0;
}

header {
    padding-top: 5px;
}

main {
    display: flex;
    flex-direction: row;
}

button {
    background: linear-gradient(to left, var(--astrosphere-pink), var(--astrosphere-blue));
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
}



#cart_button{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
}

#shopping_Cart{
    position: absolute;
    top: 20vh;
    left: 20%;
    height: 80vh;
    width: 80%;
    background-color: rgb(217, 217, 217);
    display: flex;
    justify-content: center;
}
#shopping_Cart div{
    position: absolute;
    bottom: 10px;
}
#shopping_Cart button{
    padding: 8px 40px 8px 40px;
}
#shopping_Cart button:hover{
    opacity: 60%;
}