:root {
    --astrosphere-pink: #d30da4;
    --astrosphere-blue: #4204b0;
    --astrosphere-dark-grey: #2e2e2e;
    --astrosphere-light-grey: #5e5e5e;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

header{
    padding-top: 5px;
}

button {
    background: linear-gradient(to left, var(--astrosphere-pink), var(--astrosphere-blue));
    border-radius: 10%;
    border: none;
    color: white;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;
    justify-content: space-evenly;
}

.menu_buttons {
    display: flex;
    width: 20%;
    flex-direction: column;
    text-align: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 5px;
    padding-bottom: 20px;
    background: linear-gradient(to right, var(--astrosphere-pink), var(--astrosphere-blue));
    border-radius: 10%;
    color: white;
}

.menu_buttons:hover {
    color: var(--astrosphere-blue);
}

footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: center;
    margin-bottom: -30px;
}